body {
  /* background-color: #ffb4fc; */

  /* background: linear-gradient(90deg, #ff8ffa, #ffc8fd); */

  background-color: rgba(230,230,230,1);
  background-image: url("https://66.media.tumblr.com/297b361ce92b9e2746a1763eb72c90d4/tumblr_oqwlha3EBS1vqiq7ro2_1280.png");
  background-blend-mode: overlay;
  background-size: calc(1080px/4) calc(1920px/4);
  background-attachment: fixed;
  animation: mainanim 50s linear infinite;

  color: purple;
  font-size: 250%;
  margin: 25px;
  font-family: 'VT323', sans-serif;
}

.header {
  font-family: 'Pacifico', sans-serif;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0;
}

.body {
  overflow: auto;
}

/* .credits {
  font-size: 50%;
	text-align: right;
	position: sticky;
  bottom: 2px;
	right: 2px;
} */

a {
  text-decoration: underline;
  /* text-decoration: none; */
  color: purple;
}

a:hover {
  text-decoration: underline;
  color: rgba(220, 75, 150,1);
}

.spoiler {
  background-color: purple;
}

.spoiler:hover {
  background-color: inherit;
}

@keyframes mainanim {
  from {
    background-position: 0vw 0vh
  }
  to {
    background-position: calc((1080px/4)*4) calc((1920px/4)*1)
  }
}
